body{
    background-image: url(./imgs/calc.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-size: 18px;
}

p{
    font-size: 20px;
}

.header{
    font-size:13px;
    text-align: center;
    background-color:rgba(107, 107, 233, 0.459) ;
    width: 300px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    padding: 15px;
    border-radius: 8px;

}

#rad{
    display: flex;
    max-width: 120px;
}

.container{
    padding: 15px;
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,25%);
    background-color: rgba(107, 107, 233, 0.458);
    border-radius: 8px;
   

}

input{
    margin-top: 30px;
    box-sizing: border-box;
    width: 290px;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

input[type=radio]{
    margin: 0;
}


#calc{
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
    margin-left: 45px;
  
}

#limpar{
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    width: 100px;
    cursor: pointer;
    margin-left: 95px;
}

#calc:hover{
    cursor: pointer;
    background-color: rgba(107, 107, 233, 0.34) ;
    color: white;
    border: 2px solid white;
}

#limpar:hover{
    cursor: pointer;
    background-color: rgba(107, 107, 233, 0.34) ;
    color: white;
    border: 2px solid white;
}

.mensagem-erro{
    display: none;
}


.resultado{
 display: none;
}


@media only screen and (max-width: 600px){

    body{
        background-image: none;
        background-color: rgba(51, 0, 132, 0.807);
    }

    #calc:hover{
        background-color:rgba(107, 107, 233, 0.34);
    }


}