body{
    background-image: url(./imgs/calc.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    position: relative;
    color: white;
    font-size: 18px;
}

.header{
    font-size:13px;
    text-align: center;
    background-color:rgba(107, 107, 233, 0.459) ;
    width: 300px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
    padding: 15px;
    border-radius: 8px;

}

.container{
    padding: 15px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,25%);
    background-color: rgba(107, 107, 233, 0.458);
    border-radius: 8px;
   

}

input{
    box-sizing: border-box;
    width: 290px;
    border: none;
    border-radius: 8px;
    padding: 10px;
}

#calc{
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
    margin-left: 45px;
  
}

#calc:hover{
    cursor: pointer;
    background-color: rgba(107, 107, 233, 0.34) ;
    color: white;
    border: 2px solid white;
}


.resultado{
    width: 210px;
    font-size: 25px;
    text-align: center;
    background-color: rgb(107, 107, 233);
    padding: 10px;
    border: 2px solid white;
    border-radius: 8px;
    margin-left: 30px;
}